html,
body {
    margin-top: 25px;
    height: 100%;
}

.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#top-sub-heading {
    max-height: 30px;
    /*box-shadow: 5px 15px 25px black;*/
} 


.sub-heading {
    max-height: 35px;
    display: block;
    margin: auto;
}

h1, h2, h3, p, a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

#top-logo {
    margin-top: -5px;
    display: block;
    max-height: 30px;
}

.dropdown {
    background-color: #222;
}

.services {
    background-color: #EDEDED;
    margin-bottom: 30px;
}

.about {
    overflow: hidden;
}

.about-image.pull-left {
    margin-right: 40px;
}

.about-image.pull-right {
    margin-left: 40px;
}

.about>img {
    max-height: 300px;
}

.fa-stack {
  webkit-animation-duration: 5s;
  moz-animation-duration: 5s;
}

.image-links {
  animation-duration: 2s;
  animation-delay: 1s;
}

@media(max-width:991px) {

    .about-divider {
        margin: 40px 0;
    }

    .about-image {
        max-width: 50%;
    }

    .about-image.pull-left {
        margin-right: 10px;
    }

    .about-image.pull-right {
        margin-left: 10px;
    }

    .about-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .about-divider {
        margin: 40px 0;
    }

    .about-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {

    .about-divider {
        margin: 30px 0;
    }
}

@media(max-width:375px) {
    .about-divider {
        margin: 10px 0;
    }

    .about-image {
        max-width: 100%;
    }

    .about-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .about-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

.links {
    background-color: #222;
    display: block;
    margin: auto;
    text-align: center;
}

.grumpy:hover {
  cursor: default;
  transform: rotate(360deg);
  webkit-transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

.eda {
    text-decoration: underline;
}

.eda:hover {
    color: rgb(42, 48, 127);
}

#gallery .gallery-item .gallery-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#gallery .gallery-item .gallery-link .gallery-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(42,48,127,.8);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
.gallery-item{
    padding-top: 20px;
    padding-bottom: 20px;
}

#gallery .gallery-item .gallery-link .gallery-hover:hover {
    opacity: 1;
}

#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content {
    position: absolute;
    top: 38%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.borders {
    border: solid #222 15px;
    border-radius: 7px;
    box-shadow: 10px 10px 5px #888888;
}

.gallery {
    max-width: 80%;
    max-height: 80%;
    border: solid #222 15px;
    border-radius: 7px;
    margin: 30px;
    box-shadow: 10px 10px 5px #888888;
}

.images {
    height: 80px;
    padding: 10px;
}


.image-links {
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
}

.descriptions {
    padding: 0 15px;
}



section.grey {
    background: #D3D3D3;
    text-align: center;
}

section {
    padding: 20px 0;
}

footer {
    background: #D3D3D3;
}

#map {
    display: block;
    margin: auto;
    max-width: 100%;
    padding: 10px;
}

li {
    text-decoration: none;
}

li:hover {
    background-color: rgb(42,48,127);
    border-radius: 7px;
}

.fa-circle {
    color: rgb(42,48,127);
}

.footer-col>h3, .footer-col>p, .footer-col>a, .footer-below>p {
    color: #D3D3D3;
}

.footer-col>a:hover {
    color: white;
}

.footer-above, .footer-below {
    background-color: #222;
    text-align: center;
    padding: 0 70px;
}

.gmap_canvas {
    display: block;
    margin: auto;
}

#overlay {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    text-align: center;
}

#overlay img {
    margin-top: 10%;
    max-height: 400px;
    max-width: 80%;
    border: solid black 20px;
    border-radius: 10px;
}

#overlay p {
    padding-top: 10px;
    font-size: 2em;
    color: white;
}

footer {
    margin: 50px 0;
}









